<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 1: Standardized Test Analysis

--- 
# Part 1

Part 1 requires knowledge of basic Python.

---

## Problem Statement

Decide on your problem statement that will guide your analysis for this project. For guidelines, sample prompts, or inspiration, check out the README.

**To-Do:** *Replace this cell with your problem statement.*

### Contents:
- [Background](#Background)
- [Data Import & Cleaning](#Data-Import-and-Cleaning)
- [Exploratory Data Analysis](#Exploratory-Data-Analysis)
- [Data Visualization](#Visualize-the-Data)
- [Conclusions and Recommendations](#Conclusions-and-Recommendations)

## Background

The SAT and ACT are standardized tests that many colleges and universities in the United States require for their admissions process. This score is used along with other materials such as grade point average (GPA) and essay responses to determine whether or not a potential student will be accepted to the university.

The SAT has two sections of the test: Evidence-Based Reading and Writing and Math ([*source*](https://www.princetonreview.com/college/sat-sections)). The ACT has 4 sections: English, Mathematics, Reading, and Science, with an additional optional writing section ([*source*](https://www.act.org/content/act/en/products-and-services/the-act/scores/understanding-your-scores.html)). They have different score ranges, which you can read more about on their websites or additional outside sources (a quick Google search will help you understand the scores for each test):
* [SAT](https://collegereadiness.collegeboard.org/sat)
* [ACT](https://www.act.org/content/act/en.html)

Standardized tests have long been a controversial topic for students, administrators, and legislators. Since the 1940's, an increasing number of colleges have been using scores from sudents' performances on tests like the SAT and the ACT as a measure for college readiness and aptitude ([*source*](https://www.minotdailynews.com/news/local-news/2017/04/a-brief-history-of-the-sat-and-act/)). Supporters of these tests argue that these scores can be used as an objective measure to determine college admittance. Opponents of these tests claim that these tests are not accurate measures of students potential or ability and serve as an inequitable barrier to entry. Lately, more and more schools are opting to drop the SAT/ACT requirement for their Fall 2021 applications ([*read more about this here*](https://www.cnn.com/2020/04/14/us/coronavirus-colleges-sat-act-test-trnd/index.html)).

**To-Do:** *Fill out this cell (or edit the above cell) with any other background or information that is necessary for your problem statement.*

### Choose your Data

There are 10 datasets included in the [`data`](./data/) folder for this project. You are required to pick **at least two** of these to complete your analysis. Feel free to use more than two if you would like, or add other relevant datasets you find online.

* [`act_2017.csv`](./data/act_2017.csv): 2017 ACT Scores by State
* [`act_2018.csv`](./data/act_2018.csv): 2018 ACT Scores by State
* [`act_2019.csv`](./data/act_2019.csv): 2019 ACT Scores by State
* [`act_2019_ca.csv`](./data/act_2019_ca.csv): 2019 ACT Scores in California by School
* [`sat_2017.csv`](./data/sat_2017.csv): 2017 SAT Scores by State
* [`sat_2018.csv`](./data/sat_2018.csv): 2018 SAT Scores by State
* [`sat_2019.csv`](./data/sat_2019.csv): 2019 SAT Scores by State
* [`sat_2019_by_intended_college_major.csv`](./data/sat_2019_by_intended_college_major.csv): 2019 SAT Scores by Intended College Major
* [`sat_2019_ca.csv`](./data/sat_2019_ca.csv): 2019 SAT Scores in California by School
* [`sat_act_by_college.csv`](./data/sat_act_by_college.csv): Ranges of Accepted ACT & SAT Student Scores by Colleges

**To-Do:** *Fill out this cell with the datasets you will use for your analysis. Write a brief description of the contents for each dataset that you choose.*

### Outside Research

Based on your problem statement and your chosen datasets, spend some time doing outside research on state policies or additional information that might be relevant. Summarize your findings below. If you bring in any outside tables or charts, make sure you are explicit about having borrowed them. If you quote any text, make sure that it renders as being quoted. **Make sure that you cite your sources.**

**To-Do:** *Fill out this cell with outside research or any additional background information that will support your analysis.*

### Coding Challenges

1. Manually calculate mean:

    Write a function that takes in values and returns the mean of the values. Create a list of numbers that you test on your function to check to make sure your function works!
    
    *Note*: Do not use any mean methods built-in to any Python libraries to do this! This should be done without importing any additional libraries.

In [2]:
# Code:

def mean (args):
    val_sum = sum(args)
    return val_sum/len(args)

2. Manually calculate standard deviation:

    The formula for standard deviation is below:

    $$\sigma = \sqrt{\frac{1}{n}\sum_{i=1}^n(x_i - \mu)^2}$$

    Where $x_i$ represents each value in the dataset, $\mu$ represents the mean of all values in the dataset and $n$ represents the number of values in the dataset.

    Write a function that takes in values and returns the standard deviation of the values using the formula above. Hint: use the function you wrote above to calculate the mean! Use the list of numbers you created above to test on your function.
    
    *Note*: Do not use any standard deviation methods built-in to any Python libraries to do this! This should be done without importing any additional libraries.

In [3]:
# Code:

# find variance
def variance(args):
    mean_val = mean(args)
    numerator = 0
    for i in args:
        numerator += (i-mean_val)**2
    # population variance
    denominator = len(args) 
    return numerator/denominator

 # find standard deviation
def standard_deviation(args):
    return (variance(args))**.5

3. Data cleaning function:
    
    Write a function that takes in a string that is a number and a percent symbol (ex. '50%', '30.5%', etc.) and converts this to a float that is the decimal approximation of the percent. For example, inputting '50%' in your function should return 0.5, '30.5%' should return 0.305, etc. Make sure to test your function to make sure it works!

You will use these functions later on in the project!

In [4]:
# Code:

def str_to_float(args):
     try: 
          converted_num = float(args.replace('%','')) / 100
          return converted_num
     except:
          return None


str_to_float('30.5%')

0.305

--- 
# Part 2

Part 2 requires knowledge of Pandas, EDA, data cleaning, and data visualization.

---

*All libraries used should be added here*

In [2]:
# Imports:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px

## Data Import and Cleaning

### Data Import & Cleaning

Import the datasets that you selected for this project and go through the following steps at a minimum. You are welcome to do further cleaning as you feel necessary:
1. Display the data: print the first 5 rows of each dataframe to your Jupyter notebook.
2. Check for missing values.
3. Check for any obvious issues with the observations (keep in mind the minimum & maximum possible values for each test/subtest).
4. Fix any errors you identified in steps 2-3.
5. Display the data types of each feature.
6. Fix any incorrect data types found in step 5.
    - Fix any individual values preventing other columns from being the appropriate type.
    - If your dataset has a column of percents (ex. '50%', '30.5%', etc.), use the function you wrote in Part 1 (coding challenges, number 3) to convert this to floats! *Hint*: use `.map()` or `.apply()`.
7. Rename Columns.
    - Column names should be all lowercase.
    - Column names should not contain spaces (underscores will suffice--this allows for using the `df.column_name` method to access columns in addition to `df['column_name']`).
    - Column names should be unique and informative.
8. Drop unnecessary rows (if needed).
9. Merge dataframes that can be merged.
10. Perform any additional cleaning that you feel is necessary.
11. Save your cleaned and merged dataframes as csv files.

In [6]:
import re
def clean_columns(df):
    df.columns = [col.lower().replace(' ', '_').replace('-','_') for col in df.columns]
    df.columns = [col.replace('\n', '_') for col in df.columns]
    return df

ACT 2017-2019

In [7]:
# # act_2017
# act_2017_df = pd.read_csv('../data/act_2017.csv')
# # clean columns
# act_2017_df = clean_columns(act_2017_df)
# # fix %'s 
# act_2017_df['participation'] = [str_to_float(x) for x in act_2017_df['participation']]
# # fix any none-numeric variables
# act_2017_df['composite'] = act_2017_df['composite'].replace('x','', regex=True).astype(float)
# act_2017_df.info()
# act_2017_df.shape
# act_2017_df.head()

In [8]:
# # act_2018
# act_2018_df = pd.read_csv('../data/act_2019.csv')
# # clean columns
# act_2018_df = clean_columns(act_2018_df)
# # fix %'s
# act_2018_df['participation'] = [str_to_float(x) for x in act_2018_df['participation']]
# act_2018_df.info()
# act_2018_df.shape
# act_2018_df.head()

In [9]:
# # act_2019
# act_2019_df = pd.read_csv('../data/act_2019.csv')
# # clean columns
# act_2019_df = clean_columns(act_2019_df)
# # fix %'s
# act_2019_df['participation'] = [str_to_float(x) for x in act_2019_df['participation']]
# act_2019_df.info()
# act_2019_df.shape
# act_2019_df.head()

SAT 2017-2019

In [10]:
# # sat_2017
# sat_2017_df = pd.read_csv('../data/sat_2017.csv')
# # clean columns
# sat_2017_df = clean_columns(sat_2017_df)
# # fix %'s
# sat_2017_df['participation'] = [str_to_float(x) for x in sat_2017_df['participation']]
# sat_2017_df.info()
# sat_2017_df.shape
# sat_2017_df.head()

In [11]:
# # sat_2018
# sat_2018_df = pd.read_csv('../data/sat_2018.csv')
# # clean columns
# sat_2018_df = clean_columns(sat_2018_df)
# # fix %'s
# sat_2018_df['participation'] = [str_to_float(x) for x in sat_2018_df['participation']]
# sat_2018_df.info()
# sat_2018_df.shape
# sat_2018_df.head()

In [12]:
# # sat_2019
# sat_2019_df = pd.read_csv('../data/sat_2019.csv')
# sat_2019_df = clean_columns(sat_2019_df)
# sat_2019_df['participation_rate'] = [str_to_float(x) for x in sat_2019_df['participation_rate']]
# sat_2019_df.rename({'ebrw':'evidence_based_reading_and_writing'}, axis = 1, inplace = True)
# sat_2019_df.info()
# sat_2019_df.shape
# sat_2019_df.head()

California SAT ACT

In [13]:
# act_2019_ca
# act_2019_ca_df = pd.read_csv('../data/act_2019_ca.csv')
# act_2019_ca_df = clean_columns(act_2019_ca_df)
# act_2019_ca_df.shape
# act_2019_ca_df.info()
# act_2019_ca_df.head()

In [14]:
# sat_2019_ca
sat_2019_ca_df = pd.read_csv('../data/sat_2019_ca.csv')

# drop columns we're not interested - only want to look at 11th graders
sat_2019_ca_df.drop(sat_2019_ca_df.columns[[0,1,2,3,4,5,8,9,10,11,12,13,20,21]], axis=1, inplace=True)

# clean columns!
# snake case everything
sat_2019_ca_df.columns = ['_'.join(re.findall('[A-Z][a-z]*',x)) for x in sat_2019_ca_df.columns]

sat_2019_ca_df
sat_2019_ca_df = clean_columns(sat_2019_ca_df)

sat_2019_ca_df.columns = [x.replace('_e_r_w_', '_erw_') for x in sat_2019_ca_df.columns]
sat_2019_ca_df.columns = [x.replace('_t_s_t_', '_tst_') for x in sat_2019_ca_df.columns]

# remove asterisks
sat_2019_ca_df.replace({'*': np.nan}, inplace = True)

# make everything floats that needs to be
sat_2019_ca_df = sat_2019_ca_df.astype({col:'float' for col in sat_2019_ca_df.columns if col not in ['d_name', 'c_name', 'year']})


# print descriptions
sat_2019_ca_df.info()
sat_2019_ca_df.shape
sat_2019_ca_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2580 entries, 0 to 2579
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   d_name                  2521 non-null   object
 1   c_name                  2579 non-null   object
 2   enroll                  2579 non-null   float64
 3   num_tst_takr            2579 non-null   float64
 4   num_erw_benchmark       1736 non-null   float64
 5   pct_erw_benchmark       1736 non-null   float64
 6   num_math_benchmark      1736 non-null   float64
 7   pct_math_benchmark      1736 non-null   float64
 8   tot_num_both_benchmark  1736 non-null   float64
 9   pct_both_benchmark      1736 non-null   float64
 10  year                    2579 non-null   object
 11  unnamed                 0 non-null      float64
dtypes: float64(9), object(3)
memory usage: 242.0+ KB

,d_name,c_name,enroll,num_tst_takr,num_erw_benchmark,pct_erw_benchmark,num_math_benchmark,pct_math_benchmark,tot_num_both_benchmark,pct_both_benchmark,year,unnamed
0,Colusa Unified,Colusa,18.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-19,NaN
1,Maxwell Unified,Colusa,26.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-19,NaN
2,Los Angeles Unified,Los Angeles,219.0,174.0,42.0,24.14,12.0,6.90,11.0,6.32,2018-19,NaN
3,Los Angeles Unified,Los Angeles,333.0,275.0,97.0,35.27,37.0,13.45,35.0,12.73,2018-19,NaN
4,Los Angeles Unified,Los Angeles,17.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-19,NaN

In [15]:
# aggregate by school district, using mean

agg_functions = {col:'sum' if 'num' in col else 'mean' if 'pct' in col else 'sum' for col in sat_2019_ca_df.columns if col not in ['d_name', 'c_name', 'year']}
sat_2019_ca_df = sat_2019_ca_df.groupby(sat_2019_ca_df['d_name']).aggregate(agg_functions)

In [16]:
sat_2019_ca_df

,enroll,num_tst_takr,num_erw_benchmark,pct_erw_benchmark,num_math_benchmark,pct_math_benchmark,tot_num_both_benchmark,pct_both_benchmark,unnamed
d_name,,,,,,,,,
ABC Unified,3270.0,1344.0,1188.0,87.010000,1020.0,72.844000,984.0,70.204000,0.0
Acalanes Union High,2719.0,1438.0,1413.0,98.360000,1347.0,93.728000,1343.0,93.440000,0.0
Acton-Agua Dulce Unified,3775.0,239.0,157.0,79.545000,87.0,47.600000,87.0,47.600000,0.0
Adelanto Elementary,188.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0
Alameda County Office of Education,283.0,152.0,65.0,43.605000,31.0,20.775000,23.0,15.405000,0.0
...,...,...,...,...,...,...,...,...,...
Yosemite Unified,410.0,112.0,101.0,94.380000,84.0,78.500000,84.0,78.500000,0.0
Yreka Union High,287.0,64.0,58.0,90.630000,40.0,62.500000,40.0,62.500000,0.0
Yuba City Unified,1934.0,400.0,302.0,75.316667,270.0,67.306667,254.0,63.346667,0.0
Yuba County Office of Education,167.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0
Yucaipa-Calimesa Joint Unified,1436.0,410.0,355.0,86.795000,287.0,70.170000,273.0,66.750000,0.0

In [17]:
# Summary statistics for school districtcs
sat_2019_ca_df.describe()

,enroll,num_tst_takr,num_erw_benchmark,pct_erw_benchmark,num_math_benchmark,pct_math_benchmark,tot_num_both_benchmark,pct_both_benchmark,unnamed
count,540.000000,540.000000,540.000000,397.000000,540.000000,397.000000,540.000000,397.000000,540.0
mean,2611.220370,1147.885185,798.264815,78.051944,601.118519,59.898902,574.975926,57.618395,0.0
std,20801.287719,9381.626467,6384.375326,16.769865,4762.795807,22.891637,4552.619210,23.088141,0.0
min,0.000000,0.000000,0.000000,18.270000,0.000000,0.960000,0.000000,0.960000,0.0
25%,181.500000,26.000000,0.000000,69.124000,0.000000,42.340000,0.000000,40.052500,0.0
50%,591.500000,156.000000,116.000000,81.690000,85.500000,62.770000,82.000000,60.446667,0.0
75%,1998.000000,714.000000,576.500000,91.430000,434.750000,77.436667,408.250000,75.000000,0.0
max,474843.000000,206642.000000,144318.000000,100.000000,108635.000000,98.960000,103915.000000,98.960000,0.0

In [18]:
ca_budgets_sd = pd.read_excel('../data/currentexpense1819.xlsx')

# clean columns
ca_budgets_sd.columns = ca_budgets_sd.loc[9]
ca_budgets_sd = ca_budgets_sd[10:].reset_index()
ca_budgets_sd = clean_columns(ca_budgets_sd)
ca_budgets_sd.drop(ca_budgets_sd.columns[[0,1,2]], axis=1, inplace=True)
ca_budgets_sd.rename(columns = {'district':'d_name'}, inplace=True)

# drop unused columns
ca_budgets_sd = ca_budgets_sd.astype({col:'float' for col in ca_budgets_sd.columns if col not in ['d_name', 'lea_type']})

ca_budgets_sd.info()
ca_budgets_sd.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 939 entries, 0 to 938
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   d_name                   939 non-null    object
 1   edp_365                  939 non-null    float64
 2   current_expense_ada      939 non-null    float64
 3   current_expense_per_ada  939 non-null    float64
 4   lea_type                 939 non-null    object
dtypes: float64(3), object(2)
memory usage: 36.8+ KB

,d_name,edp_365,current_expense_ada,current_expense_per_ada,lea_type
0,Alameda Unified,1.172259e+08,8968.85,13070.335941,Unified
1,Albany City Unified,4.661106e+07,3544.52,13150.175366,Unified
2,Berkeley Unified,1.594578e+08,9356.44,17042.573724,Unified
3,Castro Valley Unified,1.022399e+08,8940.20,11435.978763,Unified
4,Emery Unified,1.250402e+07,681.82,18339.185137,Unified

Merge SD budget and SD sat Dataframes

In [19]:
merged_ca_sat_rev = pd.merge(sat_2019_ca_df,ca_budgets_sd, left_on='d_name', right_on = 'd_name')

merged_ca_sat_rev.head()

,d_name,enroll,num_tst_takr,num_erw_benchmark,pct_erw_benchmark,num_math_benchmark,pct_math_benchmark,tot_num_both_benchmark,pct_both_benchmark,unnamed,edp_365,current_expense_ada,current_expense_per_ada,lea_type
0,ABC Unified,3270.0,1344.0,1188.0,87.010,1020.0,72.844000,984.0,70.204,0.0,2.306853e+08,19754.36,11677.688891,Unified
1,Acalanes Union High,2719.0,1438.0,1413.0,98.360,1347.0,93.728000,1343.0,93.440,0.0,8.012390e+07,5426.46,14765.409180,High
2,Acton-Agua Dulce Unified,3775.0,239.0,157.0,79.545,87.0,47.600000,87.0,47.600,0.0,1.465401e+07,1027.63,14260.002822,Unified
3,Adelanto Elementary,188.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,9.593883e+07,7705.92,12450.016164,Elementary
4,Alameda Unified,1736.0,878.0,772.0,75.850,716.0,66.505714,696.0,64.330,0.0,1.172259e+08,8968.85,13070.335941,Unified

In [28]:
merged_ca_sat_rev.sort_values('pct_both_benchmark', ascending = False).head(10)

,d_name,enroll,num_tst_takr,num_erw_benchmark,pct_erw_benchmark,num_math_benchmark,pct_math_benchmark,tot_num_both_benchmark,pct_both_benchmark,unnamed,edp_365,current_expense_ada,current_expense_per_ada,lea_type
307,Piedmont City Unified,414.0,194.0,192.0,100.000000,190.0,98.960000,190.0,98.960000,0.0,4.245218e+07,2521.94,16833.144528,Unified
192,La Canada Unified,679.0,356.0,350.0,98.310000,352.0,98.880000,348.0,97.750000,0.0,4.664342e+07,4036.94,11554.152081,Unified
234,Manhattan Beach Unified,1376.0,584.0,578.0,98.970000,570.0,97.600000,566.0,96.920000,0.0,8.739182e+07,6310.70,13848.198076,Unified
60,Carmel Unified,456.0,182.0,182.0,100.000000,176.0,96.700000,176.0,96.700000,0.0,5.626410e+07,2359.12,23849.613547,Unified
296,Palo Alto Unified,2038.0,1276.0,1266.0,99.243333,1238.0,97.090000,1232.0,96.626667,0.0,2.639671e+08,11539.11,22875.859931,Unified
358,San Marino Unified,530.0,328.0,322.0,98.170000,320.0,97.560000,316.0,96.340000,0.0,4.060201e+07,2903.36,13984.491920,Unified
227,Los Gatos-Saratoga Joint Union High,1750.0,1204.0,1192.0,98.983333,1156.0,96.126667,1154.0,95.980000,0.0,5.795231e+07,3380.89,17141.140028,High
5,Albany City Unified,523.0,294.0,294.0,100.000000,282.0,95.920000,282.0,95.920000,0.0,4.661106e+07,3544.52,13150.175366,Unified
174,Irvine Unified,5241.0,2532.0,2464.0,97.403333,2454.0,97.018333,2416.0,95.531667,0.0,3.769439e+08,34271.72,10998.686331,Unified
391,South Pasadena Unified,660.0,364.0,356.0,97.800000,348.0,95.600000,342.0,93.960000,0.0,4.991929e+07,4627.27,10788.064487,Unified

### Teacher Demographic Data

In [33]:
teacher_demo_db = pd.read_csv('../data/StaffDemo18.csv')

Quantify Education Level

In [34]:
edu_level_dict = {'D':10,'S':9,'V':8,'M':7,'U':6,'Y':5,'F':4,'C':3,'B':2,'A':1,'N':0}
teacher_demo_db.replace({"EducationLevel":edu_level_dict}, inplace=True)

Quantify Sex

In [35]:
sex_dict = {'M':0, 'F':1}
teacher_demo_db.replace({"GenderCode":sex_dict}, inplace = True)

Teachers per District

In [36]:
teachers_per_district = teacher_demo_db['DistrictName'].value_counts()

In [48]:
# teacher_demo_db.drop(['AcademicYear', 'RecID', 'DistrictCode', 'CountyName', 'EthnicGroup', 'EmploymentStatusCode', 'FTE Teaching', 'FTE administrative', 'FTE PupilServices', 'FileCreated'], axis = 1, inplace = True)
teacher_demo_db_agg = teacher_demo_db.groupby(teacher_demo_db['DistrictName']).aggregate('mean')

In [49]:
teacher_demo_db_agg

,GenderCode,Age,EducationLevel,YearsTeaching,YearsInDistrict
DistrictName,,,,,
ABC Unified,0.736940,44.625000,5.763993,15.803172,13.680970
Acalanes Union High,0.609827,45.372832,5.497110,15.705202,10.630058
Ackerman Charter,0.677419,47.032258,4.516129,13.967742,9.548387
Acton-Agua Dulce Unified,0.825994,41.014915,4.391335,9.576705,2.473722
Adelanto Elementary,0.777778,47.520988,3.271605,9.755556,7.861728
...,...,...,...,...,...
Yreka Union Elementary,0.916667,45.716667,3.400000,14.683333,12.616667
Yreka Union High,0.558140,48.581395,4.511628,13.395349,10.069767
Yuba City Unified,0.735915,44.927230,4.460094,14.254695,11.868545
Yuba County Office of Education,0.752688,45.537634,4.387097,11.505376,6.451613
Yucaipa-Calimesa Joint Unified,0.748663,43.313725,5.632799,12.194296,9.071301

SAT by intended Major

In [20]:
# # # sat_2019_by_intended_college_major
# sat_2019_by_intended_college_major_df = pd.read_csv('../data/sat_2019_by_intended_college_major.csv')

# # snake case words with uppercase delimiting
# sat_2019_by_intended_college_major_df.columns = ['_'.join(re.split('(?<=.)(?=[A-Z])', x)) for x in sat_2019_by_intended_college_major_df.columns]
# sat_2019_by_indtended_college_major_df = clean_columns(sat_2019_by_intended_college_major_df)

# # fix all percents
# sat_2019_by_indtended_college_major_df['percent'] = [str_to_float(x) for x in sat_2019_by_intended_college_major_df['percent']]
# # fix str numbers with commas
# sat_2019_by_intended_college_major_df['test_takers'] = sat_2019_by_intended_college_major_df['test_takers'].replace(',','', regex=True).astype(float)

# # print
# sat_2019_by_intended_college_major_df.info()
# sat_2019_by_intended_college_major_df.shape
# sat_2019_by_intended_college_major_df.head()

SAT_ACT by College

In [21]:
# # # sat_act_by_college

# sat_act_by_college_df = pd.read_csv('../data/sat_act_by_college.csv')
# sat_act_by_college_df = clean_columns(sat_act_by_college_df)
# sat_act_by_college_df['accept_rate'] = [str_to_float(x) for x in sat_act_by_college_df['accept_rate']]
# sat_act_by_college_df.info()
# sat_act_by_college_df.shape
# sat_act_by_college_df.head()

### Data Dictionary

Now that we've fixed our data, and given it appropriate names, let's create a [data dictionary](http://library.ucmerced.edu/node/10249). 

A data dictionary provides a quick overview of features/variables/columns, alongside data types and descriptions. The more descriptive you can be, the more useful this document is.

Example of a Fictional Data Dictionary Entry: 

|Feature|Type|Dataset|Description|
|---|---|---|---|
|**county_pop**|*integer*|2010 census|The population of the county (units in thousands, where 2.5 represents 2500 people).| 
|**per_poverty**|*float*|2010 census|The percent of the county over the age of 18 living below the 200% of official US poverty rate (units percent to two decimal places 98.10 means 98.1%)|

[Here's a quick link to a short guide for formatting markdown in Jupyter notebooks](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html).

Provided is the skeleton for formatting a markdown table, with columns headers that will help you create a data dictionary to quickly summarize your data, as well as some examples. **This would be a great thing to copy and paste into your custom README for this project.**

*Note*: if you are unsure of what a feature is, check the source of the data! This can be found in the README.

**To-Do:** *Edit the table below to create your own data dictionary for the datasets you chose.*

|Feature|Type|Dataset|Description|
|---|---|---|---|
|column name|int/float/object|ACT/SAT|This is an example|

## Exploratory Data Analysis

Complete the following steps to explore your data. You are welcome to do more EDA than the steps outlined here as you feel necessary:
1. Summary Statistics.
2. Use a **dictionary comprehension** to apply the standard deviation function you create in part 1 to each numeric column in the dataframe.  **No loops**.
    - Assign the output to variable `sd` as a dictionary where: 
        - Each column name is now a key 
        - That standard deviation of the column is the value 
        - *Example Output :* `{'ACT_Math': 120, 'ACT_Reading': 120, ...}`
3. Investigate trends in the data.
    - Using sorting and/or masking (along with the `.head()` method to avoid printing our entire dataframe), consider questions relevant to your problem statement. Some examples are provided below (but feel free to change these questions for your specific problem):
        - Which states have the highest and lowest participation rates for the 2017, 2019, or 2019 SAT and ACT?
        - Which states have the highest and lowest mean total/composite scores for the 2017, 2019, or 2019 SAT and ACT?
        - Do any states with 100% participation on a given test have a rate change year-to-year?
        - Do any states show have >50% participation on *both* tests each year?
        - Which colleges have the highest median SAT and ACT scores for admittance?
        - Which California school districts have the highest and lowest mean test scores?
    - **You should comment on your findings at each step in a markdown cell below your code block**. Make sure you include at least one example of sorting your dataframe by a column, and one example of using boolean filtering (i.e., masking) to select a subset of the dataframe.

In [22]:
#Code:

**To-Do:** *Edit this cell with your findings on trends in the data (step 3 above).*

## Visualize the Data

There's not a magic bullet recommendation for the right number of plots to understand a given dataset, but visualizing your data is *always* a good idea. Not only does it allow you to quickly convey your findings (even if you have a non-technical audience), it will often reveal trends in your data that escaped you when you were looking only at numbers. It is important to not only create visualizations, but to **interpret your visualizations** as well.

**Every plot should**:
- Have a title
- Have axis labels
- Have appropriate tick labels
- Text is legible in a plot
- Plots demonstrate meaningful and valid relationships
- Have an interpretation to aid understanding

Here is an example of what your plots should look like following the above guidelines. Note that while the content of this example is unrelated, the principles of visualization hold:

![](https://snag.gy/hCBR1U.jpg)
*Interpretation: The above image shows that as we increase our spending on advertising, our sales numbers also tend to increase. There is a positive correlation between advertising spending and sales.*

---

Here are some prompts to get you started with visualizations. Feel free to add additional visualizations as you see fit:
1. Use Seaborn's heatmap with pandas `.corr()` to visualize correlations between all numeric features.
    - Heatmaps are generally not appropriate for presentations, and should often be excluded from reports as they can be visually overwhelming. **However**, they can be extremely useful in identify relationships of potential interest (as well as identifying potential collinearity before modeling).
    - Please take time to format your output, adding a title. Look through some of the additional arguments and options. (Axis labels aren't really necessary, as long as the title is informative).
2. Visualize distributions using histograms. If you have a lot, consider writing a custom function and use subplots.
    - *OPTIONAL*: Summarize the underlying distributions of your features (in words & statistics)
         - Be thorough in your verbal description of these distributions.
         - Be sure to back up these summaries with statistics.
         - We generally assume that data we sample from a population will be normally distributed. Do we observe this trend? Explain your answers for each distribution and how you think this will affect estimates made from these data.
3. Plot and interpret boxplots. 
    - Boxplots demonstrate central tendency and spread in variables. In a certain sense, these are somewhat redundant with histograms, but you may be better able to identify clear outliers or differences in IQR, etc.
    - Multiple values can be plotted to a single boxplot as long as they are of the same relative scale (meaning they have similar min/max values).
    - Each boxplot should:
        - Only include variables of a similar scale
        - Have clear labels for each variable
        - Have appropriate titles and labels
4. Plot and interpret scatter plots to view relationships between features. Feel free to write a custom function, and subplot if you'd like. Functions save both time and space.
    - Your plots should have:
        - Two clearly labeled axes
        - A proper title
        - Colors and symbols that are clear and unmistakable
5. Additional plots of your choosing.
    - Are there any additional trends or relationships you haven't explored? Was there something interesting you saw that you'd like to dive further into? It's likely that there are a few more plots you might want to generate to support your narrative and recommendations that you are building toward. **As always, make sure you're interpreting your plots as you go**.

In [23]:
# Code

## Conclusions and Recommendations

Based on your exploration of the data, what are you key takeaways and recommendations? Make sure to answer your question of interest or address your problem statement here.

**To-Do:** *Edit this cell with your conclusions and recommendations.*

Don't forget to create your README!

**To-Do:** *If you combine your problem statement, data dictionary, brief summary of your analysis, and conclusions/recommendations, you have an amazing README.md file that quickly aligns your audience to the contents of your project.* Don't forget to cite your data sources!